# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.HeroSurvival.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\carro\Game\HeroSurvival\HeroSurvival\.idea\.idea.HeroSurvival\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
